<!DOCTYPE html>
<html lang="en">
<head>
  <title>Socket IO Camera Snapshots</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/main.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/static/js/main.js" defer></script>

  <script>
    const USERNAME = "{{ username }}";
  </script>
</head>
<body onload="init()">
  <div class="container">
    <div class="header">
      <img class="header-logo" src="/static/images/Logo-ZUYD-Data-Intelligence.svg" alt="Logo" />
      <span>Emotion Detection using CHIMP</span>
    </div>

    <div class="banner"></div>

    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/kali">Kalibratie lijst</a></li>
        <li><a href="/unlabeled">Unlabeled Sets</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div>

    <!-- Nieuwe content wrapper voor camera en info -->
    <div class="content">
      <div class="camera">
        <div class="title">Camera Feed</div>
        <hr />
        <div class="video-container">
          <div class="canvas-border">
            <canvas id="preview" width="640" height="480"></canvas>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="title">Predictions</div>
        <hr class="info-divider" />
        <div class="data-container">
          <table class="data-table">
            <tr><td class="data-index">Angry:</td><td id="data_angry">100%</td></tr>
            <tr><td class="data-index">Disgust:</td><td id="data_disgust">100%</td></tr>
            <tr><td class="data-index">Fear:</td><td id="data_fear">100%</td></tr>
            <tr><td class="data-index">Happy:</td><td id="data_happy">100%</td></tr>
            <tr><td class="data-index">Neutral:</td><td id="data_neutral">100%</td></tr>
            <tr><td class="data-index">Sad:</td><td id="data_sad">100%</td></tr>
            <tr><td class="data-index">Surprised:</td><td id="data_surprise">100%</td></tr>
          </table>
        </div>

        <div class="model-update">
          <button class="model-update-button" onclick="calibrateModel('True', 'False', 'False', 'True')" disabled>Train New Model: Personal data</button><br />
          <button class="model-update-button" onclick="calibrateModel('True', 'True', 'False', 'True')" disabled>Train New Model: Base + Personal data</button><br />
          <button class="model-update-button" onclick="calibrateModel('True', 'True', 'True', 'True')" disabled>Train New Model: Base + All new data</button><br />
          <button class="model-update-button" onclick="calibrateModel('False', 'False', 'False', 'True')">Finetune Model: Personal data</button><br />
          <button class="model-update-button" onclick="calibrateModel('False', 'False', 'True', 'True')" disabled>Finetune Model: All new data</button><br />
        </div>

        <div id="status-message"></div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-by">By Bryan Kroooooooooooooooooooooooooooooooooon</div>
      <div class="footer-owner">Lectoraat Data Intellligence Zuyd™</div>
    </div>
  </div>
</body>
</html>
