<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHIMP - Unlabeled Overview</title>
  <link rel="stylesheet" href="../static/css/unlabeled_overview.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <img class="header-logo" src="/static/images/Logo-ZUYD-Data-Intelligence.svg" alt="Logo">
      <span title="Original credit to Dwayne Debets, Roald Janssen, Bryan Kroon and Gavin Melis for creating emotion recognition model and the frontend upon which CHIMP is built to demonstrate its functionalities.">
        Unlabeled Dataset Overview
      </span>
    </div>

    <div class="banner"></div>

    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/kali">Kalibratie lijst</a></li>
        <li><a href="/unlabeled">Label Unlabeled Data</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>


    <section class="table-container" style="grid-area: main;">
      <table class="responsive-table">
        <thead>
          <tr>
            <th>User</th>
            <th>Total Images</th>
            <th>Labeled %</th>
            <th>Received</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </section>
  </div>
  <script src="/static/js/unlabeled_overview.js"></script>
</body>
</html>